.aboutusContainer {
    width: 100%;
    min-height: 100vh;
    .aboutus{
        position: absolute;
        left: 0;
        right: 0;
        top: 13.5vh;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        .panoletaContainer {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 300px;
            img{
                width: 300px;
                position: absolute;
                top: 10vh;
            }
        }
        .cardImage{
            height: 300px;
            width: 230px;
            object-fit: cover;
            background-size: cover;
        }
        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 190px;
            gap: 55px;
        }
        p {
         
            font-size: 1.1em;
        }
    }
}