.welcome {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100vh;
        margin-top: 30px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        filter: brightness(.4);
        background-size: cover;
        object-fit: cover;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        h1 {
            font-size: 3em;
            color: #fff;
            text-align: center;
            font-weight: 700;
        }
        button {
            border: 5px solid #fff;
            background: #ffffff10;
            backdrop-filter: blur(10px);
            color: #fff;
            outline: none;
            font-size: 1.4em;
            font-weight: 500;
            border-radius: 5px;
            padding: 10px;
            width: 300px;
            cursor: pointer;
            transition: 0.3s;
            margin-top: 100px;
            margin-bottom: 200px;
            &:hover {
                background: #fff;
                color: #000;
                transform: translateY(-4px);
            }
        }
    }
}