.gradientTitle {
    font-size: 4em;
    line-height: 1;
    font-weight: 700;
    color: transparent;
    margin-bottom: 25px;
    text-align: center;
    background: linear-gradient(90deg, red, yellow, red, yellow, red, yellow, red, yellow, red, yellow, red);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 200%;
    }
}
