@import '../../styles/variables';

.gradientTitle {
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 1.1;
  font-weight: 800;
  color: transparent;
  margin-bottom: 25px;
  text-align: center;
  background: $gradient;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animate 8s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
