@import '../App.scss';


.mobileMenuBtn {
    border: none;
    background: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
.sitesMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    width: 100%;
    background: $main;
    .link {
        text-decoration: none;
        color: #b2c4d0;
        list-style: none;
        font-size: 1.1em;
        text-transform: capitalize;
        width: 100%;
        transition: 0.3s;
        position: relative;
        margin: 0 20px;
        height: 50px;
    }
}
.sites {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    &.mobile{
        display: block;
        position: absolute;
        list-style: none; 
        left: 0;
        top: 10%;
        transition: 0.3s;
    }
  
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    .logoTitle {
        padding-left: 5.5px;
        font-size: 1.3em;
        font-weight: 700;
    }
    .savioLogo{
        margin-right: 5px;
        background-size: cover;
        object-fit: cover;
    }
    &:hover {
        filter: opacity(0.85);
    }
}


.link {
    text-decoration: none;
    list-style: none;
    font-size: 1.11em;
    text-transform: capitalize;
    margin: 0 18px;
    transition: 0.3s;
    position: relative;
    font-weight: 500;
    &:hover {
        color: #fff;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 0;
        height: 2.1px;
        background: #fff;
        transition: 0.3s;
        transform-origin: left;
    }
    &:hover::before{
        width: 100%;
    }
}