@import '../styles/variables';

.pageContainer {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  &:not(.no-padding) {
    > *:not(.hero):not(.footer):not(footer):not(section) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.no-padding {
    padding-top: 0;
  }
}
