.bg-purple {
    background-color: #9025bb; 
}
.bg-lightblue {
    background-color: #00bfff; 
}
.bg-red {
    background-color: #e71b1b; 
}
.bg-blue {
    background-color: #0e0d5d; 
}
.bg-green {
    background-color: #1f6a2a; 
}
.bg-yellow {
    background-color: #f0e000; 
}